/* ********** + **********
  This is under MIT license
     2017 (c) KaminekLP
   ********** + ********** */
    
body {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.content {
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 290px;
	background-color: lightgray;
	border: gray solid 3px;
	border-radius: 4px;
	padding: 20px;
}
.button {
	border-radius: 5px;
	background-color: MediumSpringGreen;
	border: SeaGreen solid 2px;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 9px;
	padding-right: 9px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	font-size: 20px;
}
.button:hover {
	background-color: DarkSeaGreen;
	cursor: pointer;
}
.text {
	opacity: 0.6;
}
.footer {
margin-top:250px;
}
.footer hr {
margin-left:300px;
margin-right:300px;
color:gray;
opacity:0.8;
border:gray dashed 0.5px;
}
.footer .copy {
color:Gray;
opacity:0.9;
font-style:italic;
}
.footer .href {
text-decoration:none;
color:gray;
opacity:1;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
}

.footer .href:hover {
color:black;
}
.footer .owntext {
color:Gray;
opacity:0.9;
}
